* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.logo img{
  width: 33%;
}

.navbar {
  display: flex;
}

.nav-list {
  width: 50%;
  /* background-color: black; */
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: grey;
}

.rightNav{
  /* background-color: blueviolet; */
  width: 50%;
  text-align: right;
}

#search{
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}

.background{
  background:rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
  background-size: cover;
  background-blend-mode: darken;
}